.file-icons {
  height: 1rem;
  width: 1rem;
  align-items: center;
  justify-content: center;
}

.table-head {
    margin-bottom: 1rem;
    background: #000000;
    border-radius: 0.5rem;
    color: #fff;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    text-align: center;
}

.btn-text {
    display: flex;
    align-items: center;
    justify-content: center; 
}